body {
  margin: 0;  
  background-color: #4d4d4d;
  width: 100vw;
  overflow: hidden;
}

a { 
  text-decoration: none;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  background-color: #4d4d4d;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  transition: margin-left ease-in-out 0.5s;
  -webkit-transition: margin-left ease-in-out 0.5s;
}

/*@ side menu */
#menu {
  position: absolute;
  left: 0px;
  z-index: 10;
  height: 100%;
  margin-left: 0px;
  width: 260px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: #f3a738;
  transition: transform ease-in-out 0.5s;
  -webkit-transition: transform ease-in-out 0.5s, -webkit-transform ease-in-out 0.5s;
}

#menu-title {
  font-family: "Anton";
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu-title i {
  display: none;
  transition: display ease-in-out 0.5s;
  -webkit-transition: display ease-in-out 0.5s;
}

#menu .line {
  width: 100px;
  height: 2px;
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.5);
}

.menuitem {
  margin-bottom: 5px;
  padding: 5px;
  -webkit-transition: color 500ms ease, background-color 300ms cubic-bezier(1, 0, 0, 1);
  transition: color 500ms ease, background-color 300ms cubic-bezier(1, 0, 0, 1);
  font-family: monospace;
  cursor:pointer
}

.menuitem span {
  text-decoration: none;
  color: #4d4d4d;
  font-size: 16px;
  transition:  color 200ms ease;
  -webkit-transition:  color 200ms ease;
}

.menuitem:hover {
  background-color: #303030;
}

.menuitem:hover > span {
  color: #f3a738;
  font-weight: 700;
}

/*@ top bar */
#top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

#top .fas {
  color: #f3a738;
  font-size: 28px;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

#top > h1:hover {
  transform: scale(1.1, 1.1);
}

#title {
  font-family: "Anton";
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

#title a {
  color: #f3a738;
}

/*@ main */
.main {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  padding: 0 30px 50px 30px;
}

.main .line {
  position: absolute;
  width: 60%;
  height: 2px;
  margin-bottom: 15px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: rgba(255, 255, 255, 0.5);
}

/*@ home */
.home {
  min-height: 150px;
  height: 50%;
  max-height: 300px;
  display: flex;
  align-items: center;
  font-family: monospace;
  color: #d0d0d0;
  font-size: 16px;
  padding: 0 50px;
  text-align: center;
}

/*@ info bar */
#info {
  position: absolute;
  right: 0px;
  z-index: 100;
  height: 100%;
  margin-left: 0px;
  min-width: 240px;
  max-width: 380px;
  width: 40%;
  padding-right: 30px;
  padding-left: 30px;
  background-color: rgba(0, 0, 0, 0.9);
  transition: transform ease-in-out 0.5s;
  -webkit-transition: transform ease-in-out 0.5s, -webkit-transform ease-in-out 0.5s;
  transform: translate(110%, 0);
  -webkit-transform: translate(110%, 0);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  box-shadow: #202020 -3px 0 8px;
}

.info-title {
  font-family: "Anton";
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f3a738;
}

.info-title h3 {
  font-size: 20px;
  margin: 0;
}

.info-title i {
  cursor:pointer;
}

.info-title.top {
  margin-top: 20px;
}

.info-title.bottom {
  margin-bottom: 20px;
}

#info-content {
  flex-grow: 1;
  padding-bottom: 30px;
  overflow-y: scroll;
  font-family: monospace;
  font-size: 14px;
  color: #d0d0d0;
}

#info .line {
  width: 100px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.5)
}

#info-content a {
  color: white;
  text-decoration: underline;
}

/*@ standard cipher page*/
#cipher {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

#standard-cipher-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.crypt-button {
  border-radius: 5px;
  font-family: "Anton";
  color: #4d4d4d;
  background-color: #f3a738;
  border: 2px #f3a738 solid;
  padding: 7px 15px;
  margin: 5px 0;
  min-width: 90px;
  transition: all 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.crypt-button:hover {
  background-color: transparent;
  color: #f3a738;
}

.crypt-button:disabled {
  background-color: rgba(208, 208, 208, 0.5);
  color: #4d4d4d;
  border: 2px solid rgba(208, 208, 208, 0.5);
}

/*@ text inputs */
.input-box {
  display: flex;
  flex-wrap: true;
  flex-direction: column;
}

.text-input-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%
}

.text-input-top select {
  margin-bottom: 10px;
  border: #f3a738 2px solid;
  border-radius: 5px;
  color: #f3a738;
  font-family: monospace;
  padding: 8px 12px;
  transition: all 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
   /* needed */
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   /* SVG background image */
   background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23F3A738'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
   background-size: 12px;
   background-position: calc(100% - 10px) calc(50% + 5px);
   background-repeat: no-repeat;
   background-color: transparent;
   padding-right: 30px;
}

.text-input-top select:focus {
  outline: none;
}

.text-input-top select:hover {
  color: #4d4d4d;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%234D4D4D'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
  background-size: 12px;
  background-position: calc(100% - 10px) calc(50% + 5px);
  background-repeat: no-repeat;
  background-color: #f3a738;
  transition: all 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.text-input-top label{
  font-family: monospace;
  color: #f3a738;
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.text-input {
  padding: 8px 12px;
  min-height: 150px;
  background-color: #d0d0d0;
  font-family: monospace;
  transition: background-color 0.2s ease-in-out;
}

.text-input:focus {
  outline: none;
  background-color: #f7c780;
}

.text-input::placeholder {
  color: #696969
}

.text-input::-webkit-input-placeholder {
  color: #696969
}

.text-input::-ms-input-placeholder {
  color: #696969
}

.text-input:-ms-input-placeholder {
  color: #696969
}

/*@ cipher options box */
.cipher-options {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
  margin-right: 15px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border: 2px solid #a0a0a0;
  border-radius: 5px;
  flex-grow: 1;
  align-items: flex-start;
  flex-grow: 1;
}

.cipher-options h4 {
  margin: -15px 0 10px 0;
  padding: 0 20px;
  font-family: "Anton";
  color:#f3a738;
  font-size: 18px;
  background: #4d4d4d;
}

.options-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  flex-wrap: wrap;
  width: 100%;
}

.options-row label {
  width: 100%;
  color: #f7c780;
  font-family: monospace;
  font-weight: 700;
  margin-bottom: 5px;
}

.options-row input, .options-row select {
  font-family: monospace;
  color: #4d4d4d;
  background-color: #d0d0d0;
  padding: 12px;
  margin-bottom: 10px;
  border: #4d4d4d 1px solid;
  transition: background-color 0.2s ease-in-out;
  box-shadow: none;
  flex-grow: 1;
}

.options-row select {
   /* needed */
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   /* SVG background image */
   background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%234D4D4D'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
   background-size: 12px;
   background-position: calc(100% - 10px) calc(50% + 5px);
   background-repeat: no-repeat;
   background-color: #d0d0d0;
   border-radius: 0;
   padding-right: 30px;
}

.options-row input:focus , .options-row select:hover {
  background-color: #f7c780;
  outline: none;
}

.options-row select:focus {
  outline: none;
}

.options-row select:disabled, .options-row input:disabled {
  background-color: rgba(208, 208, 208, 0.5);
}

.warning {
  padding: 2px 10px;
  background-color: #f09696;
  color: #8a3030;
  font-family: monospace;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

/* footer */
#footer {
  font-size: 10px;
  position: fixed;
  bottom: 0;
  font-family: monospace;
  padding: 2px 50px;
  background-color: #303030;
  width: 100%;
  color: #d0d0d0;
  text-align: right;
}

#footer a {
  color: #f7c780;
  text-decoration: underline;
  margin-right: 50px;
}

@media screen and (max-width: 767px) {

  #menu-title i {
    display: block;
  }
  
}